@(text: String)

@localStylesheets = {
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.css" />


    <style>
    td.details-control {
        background: url('http://www.datatables.net/examples/resources/details_open.png') no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url('http://www.datatables.net/examples/resources/details_close.png') no-repeat center center;
    }
    </style>
}

@localScripts = {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src='@routes.Assets.at("javascripts/dynamicFields.js")'></script>
    <script src="http://cdn.datatables.net/responsive/1.0.1/js/dataTables.responsive.min.js"></script>
    <script src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
        <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
            $(document).ready(function () {

                var MyUserObject = {};
                MyUserObject["v"] = "@Employees.getJS1Value()";
                MyUserObject["k"] = "@Employees.getJS1Key()";

                employeeArray(MyUserObject);
                publicationArray(MyUserObject);
            });
    </script>
}

@main(scripts = localScripts, stylesheets = localStylesheets) {
    <div class="col-md-12">
        <div class="row">

        </div>
    </div>


    <div class="row">

    </div>
    --------------------------
    <div class="row">
        <div class="col-md-6">

            <input type="button" class="btn btn" value="Přidat" onclick="addCourseTeacher();" />
            <div id="radky"></div>

        </div>
    </div>


}