@(id: Long, classroomForm: Form[Classroom])
@import helper._
@localScripts = {
    <!-- Morris Charts JavaScript -->
    <script src='@routes.Assets.at("lib/raphaeljs/raphael-min.js")'></script>
    <script src='@routes.Assets.at("lib/morrisjs/morris.min.js")'></script>
    <script src='@routes.Assets.at("javascripts/morris-data.js")'></script>
}
@main(scripts = localScripts) {
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Registrace</h1>
        </div>
            <!-- /.col-lg-12 -->
    </div>
        <!-- /.row -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel-body">
                @helper.form(action = routes.ClassroomController.update(id)) {

                    <fieldset>
                        <legend>Zadání místnosti</legend>

                        <div class="row">
                            <div class="col-md-12">
                            @inputText(
                                classroomForm("classroomName"),
                                '_label -> "Název místnosti:",
                                'class -> "form-control",
                                '_help -> "Prosím zadejte Důvod návštěvy.",
                                '_error -> classroomForm.globalError
                            )
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                            @inputText(
                                classroomForm("capacity"),
                                '_label -> "Velikost místnosti:",
                                'class -> "form-control",
                                '_help -> "Prosím zadejte Název události.",
                                '_error -> classroomForm.globalError
                            )
                            </div>
                        </div>

                    </fieldset>

                    <div class="actions">

                        <input type="submit" class="btn btn-lg btn-success btn-block" value="Uložit">
                        <a href="@routes.Application.index()" class="btn">Zrušit</a>
                    </div>

                }
                </div>
            </div>
        </div>
    </div>
}
