@(coursesForm: Form[Courses], scheduleInWeeksForm: Form[ScheduleInWeeks], currentPage: List[ScheduleInWeeks])
@import helper._
@localScripts = {
    <!-- Morris Charts JavaScript -->
    <script src='@routes.Assets.at("lib/raphaeljs/raphael-min.js")'></script>
    <script src='@routes.Assets.at("lib/morrisjs/morris.min.js")'></script>
    <script src='@routes.Assets.at("javascripts/morris-data.js")'></script>
    <script src='@routes.Assets.at("javascripts/dynamicFields.js")'></script>
}
@main(scripts = localScripts) {
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Kurzy</h1>
        </div>
            <!-- /.col-lg-12 -->
    </div>
        <!-- /.row -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel-body">
                @helper.form(action = routes.CourseController.save) {

                    <fieldset>
                        <legend>Zadání údajů</legend>

                        <div class="row">
                            <div class="col-md-4">
                            @select(
                                coursesForm("semester.id"),
                                options(Semesters.options()),
                                '_label -> "Semestr",
                                'class -> "form-control",
                                '_help -> "",
                                '_error -> coursesForm.globalError
                            )
                            </div>
                            <div class="col-md-4">
                            @inputText(
                                coursesForm("course"),
                                '_label -> "Kurz",
                                'class -> "form-control",
                                '_help -> "",
                                '_error -> coursesForm.globalError
                            )
                            </div>
                            <div class="col-md-4">
                            @inputText(
                                coursesForm("numberOfStudents"),
                                '_label -> "Studentů",
                                'class -> "form-control",
                                '_help -> "",
                                '_error -> coursesForm.globalError
                            )
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                            @select(
                                scheduleInWeeksForm("scheduleDay"),
                                options(Days.options()),
                                '_label -> "Den",
                                'class -> "form-control",
                                '_help -> "",
                                '_error -> coursesForm.globalError
                            )
                            </div>
                            <div class="col-md-3">
                            @inputText(
                                scheduleInWeeksForm("scheduleFrom"),
                                '_label -> "Od",
                                'class -> "form-control",
                                '_help -> "",
                                '_error -> scheduleInWeeksForm.globalError
                            )
                            </div>
                            <div class="col-md-3">
                            @inputText(
                                scheduleInWeeksForm("scheduleTo"),
                                '_label -> "Do",
                                'class -> "form-control",
                                '_help -> "",
                                '_error -> scheduleInWeeksForm.globalError
                            )
                            </div>
                            <div class="col-md-3">
                            @inputText(
                                scheduleInWeeksForm("classRoom"),
                                '_label -> "Učebna",
                                'class -> "form-control",
                                '_help -> "",
                                '_error -> scheduleInWeeksForm.globalError
                            )
                            </div>
                        </div>
                        <div class="row">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="dataTable_wrapper">
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                        <thead>
                                            <tr>
                                                <th>Týden</th>
                                                <th>Rok</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        @for(member <- currentPage) {
                                            <tr>
                                                <td>
                                                @if(member.getScheduleWeek != 0) {
                                                    @member.getScheduleWeek
                                                } else {
                                                    <em>-</em>

                                                }
                                                </td>
                                                <td>
                                                @if(member.getScheduleYear == 0) {
                                                    <em>-</em>
                                                } else {
                                                    @member.getScheduleYear
                                                }
                                                </td>

                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="row">

                                        <div class="col-md-6">
                                        @select(
                                            coursesForm("teachers.id"),
                                            options(Employees.options()),
                                            '_label -> "Vyučující",
                                            'class -> "form-control",
                                            '_help -> "",
                                            '_error -> coursesForm.globalError
                                        )
                                        </div>
                                        <div class="col-md-6">
                                        @inputText(
                                            coursesForm("teachers.scale"),
                                            '_label -> "Váha",
                                            'class -> "form-control",
                                            '_help -> "",
                                            '_error -> coursesForm.globalError
                                        )
                                        </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                    <div id="dynamicInput"><input type="hidden" id="myField" value="@Employees.getJS1Key()" /><input type="hidden" id="myField2" value="@Employees.getJS1Value()" /></div>
                                    <input type="button" class="btn btn" value="Přidat vyučujícího" onclick="addCourseTeacher('dynamicInput');" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                    <br>
                    <div class="actions">

                        <input type="submit" class="btn btn-lg btn-success btn-block" value="Uložit">
                        <a href="@routes.Application.index()" class="btn">Zrušit</a>
                    </div>

                }
                </div>
            </div>
        </div>
    </div>
}
