@()
@import helper._
@localScripts = {
    <!-- Morris Charts JavaScript -->
    <script src='@routes.Assets.at("lib/raphaeljs/raphael-min.js")'></script>
    <script src='@routes.Assets.at("lib/morrisjs/morris.min.js")'></script>
    <script src='@routes.Assets.at("javascripts/morris-data.js")'></script>
}
@main(scripts = localScripts) {
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Přehled údajů</h1>
        </div>
            <!-- /.col-lg-12 -->
    </div>
        <!-- /.row -->
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel-body">
                @helper.form(action = routes.EmployeesController.edit("")) {

                    <fieldset>


                        <div class="row">

                        </div>
                        <div class="row">
                        <
                        </div>
                    </fieldset>

                    </br>
                    </br></br>
                    <div class="actions">

                        <input type="submit" class="btn btn-lg btn-success btn-block" value="Upravit">

                    </div>

                }
                </div>
            </div>
        </div>
    </div>
}
