@(memberForm: Form[Member])
@import helper._
@localStylesheets = {
    <link href='@routes.Assets.at("stylesheets/tables.css")' rel="stylesheet" type="text/css">
}

@localScripts = {
        <!-- Morris Charts JavaScript -->
    <script src='@routes.Assets.at("lib/raphaeljs/raphael-min.js")'></script>
    <script src='@routes.Assets.at("lib/morrisjs/morris.min.js")'></script>
    <script src='@routes.Assets.at("javascripts/morris-data.js")'></script>
    <script src='@routes.Assets.at("DataTables/DataTables-1.10.13/js/jquery.dataTables.js")'></script>
    <script src='@routes.Assets.at("DataTables/DataTables-1.10.13/js/dataTables.bootstrap.min.js")'></script>
    <script type="text/javascript" src="@routes.Assets.at("javascript/dynamicFields.js")"></script>
}
@main(scripts = localScripts, stylesheets = localStylesheets) {
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Detail</h1>
        </div>
            <!-- /.col-lg-12 -->
    </div>
        <!-- /.row -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel-body">
                @helper.form(action = routes.SalaryController.getPerson) {
                    <div class="row">
                        <fieldset>
                            @select(
                                memberForm("email"),
                                options(Member.options()),
                                '_label -> "Ident",
                                'class -> "form-control",
                                '_help -> "Prosím zadejte ident.",
                                '_error -> memberForm.globalError
                            )

                        </fieldset>
                    </div>
                    <div class="row">
                        <div class="actions">

                            <input type="submit" class="btn btn-lg btn-success btn-block" value="Uložit">
                            <a href="@routes.Application.index()" class="btn">Zrušit</a>
                        </div>
                    </div>
                }
                </div>



            </div>
        </div>
    </div>
}
