@()
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Masarykáč beta v0.1</a>
        </div>
        <!-- /.navbar-header -->
        <img src="@routes.Assets.at("images/logo_MUVS.jpg")" width="140" height="40" align="center"/>
        <ul class="nav navbar-top-links navbar-right">


            <li class="dropdown">
                <a href="@routes.Application.logout()"><i class="fa fa-gear fa-fw"></i> Odhlásit</a>
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        @sidebar()
        <!-- /.navbar-static-side -->
    </nav>
