@(subjectForm: Form[Subjects], coursesForm: Form[Courses], scheduleForm: Form[Schedule], studyPlansForm: Form[StudyPlans])
@import helper._

@localStylesheets = {

}
@localScripts = {

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src='@routes.Assets.at("javascripts/dynamicFields.js")'></script>

    <script>
            $(document).ready(function () {

                var fields = {};
                var semesters = {};
                var studygroups = {};
                var studygroups1 = {};

                fields["v"] = "@FieldsOfStudy.getValue()";
                fields["k"] = "@FieldsOfStudy.getKey()";

                semesters["v"] = "@Semesters.getValue()";
                semesters["k"] = "@Semesters.getKey()";

                studygroups["v"] = "@StudyGroups.getValue()";
                studygroups["k"] = "@StudyGroups.getKey()";

                studygroups1["v"] = "@StudyGroups1.getValue()";
                studygroups1["k"] = "@StudyGroups1.getKey()";

                studyplansArrays(fields, semesters, studygroups, studygroups1);

                var MyUserObject = {};
                MyUserObject["v"] = "@Employees.getJS1Value()";
                MyUserObject["k"] = "@Employees.getJS1Key()";

                employeeArray(MyUserObject);
            });
    </script>
}

@main(scripts = localScripts, stylesheets = localStylesheets) {
    <div class="row">
        <div class="col-lg-30">
            <h1 class="page-header">Registrace</h1>
        </div>
            <!-- /.col-lg-12 -->
    </div>
        <!-- /.row -->
    <div class="container">
        <div class="row">
            <div class="col-md-30">
                <div class="panel-body">
                @helper.form(action = routes.SubjectPlanTeachingController.save) {
                    <fieldset>
                        <legend>Zadání předmětu</legend>
                        <div class="col-md-30">
                            <div class="row">
                                <div class="col-md-3">
                                @inputText(
                                    subjectForm("ident"),
                                    '_label -> "Ident",
                                    'class -> "form-control",
                                    '_help -> "",
                                    '_error -> subjectForm.globalError
                                )
                                </div>
                                <div class="col-md-3">
                                @inputText(
                                    subjectForm("hoursP"),
                                    '_label -> "Počet hodin přednášek za týden",
                                    'class -> "form-control",
                                    '_help -> "",
                                    '_error -> subjectForm.globalError
                                )
                                </div>
                                <div class="col-md-1">
                                @checkbox(
                                    subjectForm("credit"),
                                    '_label -> "Zápočet",
                                    'class -> "form-control",
                                    '_help -> "",
                                    '_error -> subjectForm.globalError
                                )
                                </div>
                                <div class="col-md-1">
                                @checkbox(
                                    subjectForm("exam"),
                                    '_label -> "Zkouška",
                                    'class -> "form-control",
                                    '_help -> "",
                                    '_error -> subjectForm.globalError
                                )
                                </div>
                                <div class="col-md-2">
                                @checkbox(
                                    subjectForm("classifiedCredit"),
                                    '_label -> "Klasifikovaný zápočet",
                                    'class -> "form-control",
                                    '_help -> "",
                                    '_error -> subjectForm.globalError
                                )
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                @inputText(
                                    subjectForm("identOld"),
                                    '_label -> "Ident_old",
                                    'class -> "form-control",
                                    '_help -> "",
                                    '_error -> subjectForm.globalError
                                )
                                </div>
                                <div class="col-md-3">
                                @inputText(
                                    subjectForm("hoursC"),
                                    '_label -> "Počet hodin cvičení za týden",
                                    'class -> "form-control",
                                    '_help -> "",
                                    '_error -> subjectForm.globalError
                                )
                                </div>
                                <div class="col-md-2">
                                @checkbox(
                                    subjectForm("formPresentation"),
                                    '_label -> "Prezenční forma",
                                    'class -> "form-control",
                                    '_help -> "",
                                    '_error -> subjectForm.globalError
                                )
                                </div>
                                <div class="col-md-2">
                                @checkbox(
                                    subjectForm("formCombined"),
                                    '_label -> "Kombinovaná forma",
                                    'class -> "form-control",
                                    '_help -> "",
                                    '_error -> subjectForm.globalError
                                )
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                @inputText(
                                    subjectForm("titleC"),
                                    '_label -> "Název česky",
                                    'class -> "form-control",
                                    '_help -> "",
                                    '_error -> subjectForm.globalError
                                )
                                </div>
                                <div class="col-md-3">
                                @inputText(
                                    subjectForm("credits"),
                                    '_label -> "Počet kreditů",
                                    'class -> "form-control",
                                    '_help -> "",
                                    '_error -> subjectForm.globalError
                                )
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                @inputText(
                                    subjectForm("titleA"),
                                    '_label -> "Název anglicky",
                                    'class -> "form-control",
                                    '_help -> "",
                                    '_error -> subjectForm.globalError
                                )
                                </div>
                                <div class="col-md-3">
                                @inputText(
                                    subjectForm("hoursSemester"),
                                    '_label -> "Počet hodin za semestr",
                                    'class -> "form-control",
                                    '_help -> "",
                                    '_error -> subjectForm.globalError
                                )
                                </div>
                                <div class="col-md-4">
                                @inputText(
                                    subjectForm("department"),
                                    '_label -> "Oddělení",
                                    'class -> "form-control",
                                    '_help -> "",
                                    '_error -> subjectForm.globalError
                                )
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                @select(
                                    coursesForm("semester.id"),
                                    options(Semesters.options()),
                                    '_label -> "Semestr",
                                    'class -> "form-control",
                                    '_help -> "",
                                    '_error -> coursesForm.globalError
                                )
                                </div>
                                <div class="col-md-3">
                                @inputText(
                                    coursesForm("course"),
                                    '_label -> "Kurz",
                                    'class -> "form-control",
                                    '_help -> "",
                                    '_error -> coursesForm.globalError
                                )
                                </div>
                                <div class="col-md-4">
                                @inputText(
                                    coursesForm("numberOfStudents"),
                                    '_label -> "Studentů",
                                    'class -> "form-control",
                                    '_help -> "",
                                    '_error -> coursesForm.globalError
                                )
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                @select(
                                    scheduleForm("days.id"),
                                    options(Days.options()),
                                    '_label -> "Den",
                                    'class -> "form-control",
                                    '_help -> "",
                                    '_error -> scheduleForm.globalError
                                )
                                </div>
                                <div class="col-md-3">
                                @inputText(
                                    scheduleForm("scheduleFrom"),
                                    '_label -> "Od",
                                    'class -> "form-control",
                                    '_help -> "",
                                    '_error -> scheduleForm.globalError
                                )
                                </div>
                                <div class="col-md-3">
                                @inputText(
                                    scheduleForm("scheduleTo"),
                                    '_label -> "Do",
                                    'class -> "form-control",
                                    '_help -> "",
                                    '_error -> scheduleForm.globalError
                                )
                                </div>
                                <div class="col-md-3">
                                @inputText(
                                    scheduleForm("classRoom"),
                                    '_label -> "Učebna",
                                    'class -> "form-control",
                                    '_help -> "",
                                    '_error -> scheduleForm.globalError
                                )
                                </div>
                            </div>

                        </div>

                        <div class="col-md-30">
                            <div class="panel panel-default">
                                    <!-- /.panel-heading -->
                                <div class="panel-body">
                                        <!-- Nav tabs -->
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#home" data-toggle="tab">Výuka</a>
                                        </li>
                                        <li><a href="#studyplans" data-toggle="tab">Studijní plány</a>
                                        </li>
                                    </ul>

                                        <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div class="tab-pane fade in active" id="home">
                                            <div class="row">
                                            </br>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Vygenerování týdnů</label>
                                                        <div class="radio">
                                                            <label>
                                                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                                                Všechny týdny
                                                            </label>
                                                        </div>
                                                        <div class="radio">
                                                            <label>
                                                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                                                Sudé týdny
                                                            </label>
                                                        </div>
                                                        <div class="radio">
                                                            <label>
                                                                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                                                                Liché týdny
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <input type="button" class="btn btn-default" value="Přidat vyučujícího" onclick="addCourseTeacher1();" />
                                                    <div id="radky"></div>
                                                </div>
                                            </br>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <input type="button" class="btn btn-default" value="Přidat týdny" onclick="appendRowDiv()" />

                                                            <div id="r"></div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="studyplans">
                                        </br>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="button" class="btn btn" value="Přidat studijní plán" onclick="addStudyPlan('studyplan');" />
                                                    <div class="row">
                                                    </br>
                                                    </div>

                                                    <div id="studyplan"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    <!-- /.panel-body -->
                            </div>
                                <!-- /.panel -->
                        </div>

                    </fieldset>

                    <div class="actions">
                        <input type="submit" class="btn btn-lg btn-success btn-block" value="Uložit">
                        <a href="@routes.Application.index()" class="btn">Zrušit</a>
                    </div>
                }
                </div>
            </div>
        </div>
    </div>
}
