@(methodicsForm: Form[Methodics])
@import helper._
@localScripts = {
    <!-- Morris Charts JavaScript -->
    <script src='@routes.Assets.at("lib/raphaeljs/raphael-min.js")'></script>
    <script src='@routes.Assets.at("lib/morrisjs/morris.min.js")'></script>
    <script src='@routes.Assets.at("javascripts/morris-data.js")'></script>
}
@main(scripts = localScripts) {
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Metodika</h1>
        </div>
            <!-- /.col-lg-12 -->
    </div>
        <!-- /.row -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel-body">
                @helper.form(action = routes.MethodicsController.save) {

                    <fieldset>
                        <legend>Metodika</legend>
                        @inputText(
                            methodicsForm("title"),
                            '_label -> "Název",
                            'class -> "form-control",
                            '_help -> "Prosím zadejte název.",
                            '_error -> methodicsForm.globalError
                        )

                        @inputText(
                            methodicsForm("coefficient"),
                            '_label -> "Koeficient",
                            'class -> "form-control",
                            '_help -> "Prosím zadejte koeficient."
                        )
                    </fieldset>

                    <div class="actions">

                        <input type="submit" class="btn btn-lg btn-success btn-block" value="Uložit">
                        <a href="@routes.Application.index()" class="btn">Zrušit</a>
                    </div>
                }
                </div>
            </div>
        </div>
    </div>
}
