@(unitsForm: Form[OrganizationalUnits])
@import helper._
@localScripts = {
    <!-- Morris Charts JavaScript -->
    <script src='@routes.Assets.at("lib/raphaeljs/raphael-min.js")'></script>
    <script src='@routes.Assets.at("lib/morrisjs/morris.min.js")'></script>
    <script src='@routes.Assets.at("javascripts/morris-data.js")'></script>
}
@main(scripts = localScripts) {
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Registrace</h1>
        </div>
            <!-- /.col-lg-12 -->
    </div>
        <!-- /.row -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel-body">
                @helper.form(action = routes.OrganizationalUnitsController.save) {

                    <fieldset>
                        <legend>Zadání organizační jednotky</legend>

                        @inputText(
                            unitsForm("organizationalUnitNumber"),
                            '_label -> "Číslo OJ",
                            'class -> "form-control",
                            '_help -> "Prosím zadejte Důvod návštěvy.",
                            '_error -> unitsForm.globalError
                        )
                        @inputText(
                            unitsForm("organizationalUnitNumberParent"),
                            '_label -> "Číslo nadřazené OJ",
                            'class -> "form-control",
                            '_help -> "Prosím zadejte Důvod návštěvy.",
                            '_error -> unitsForm.globalError
                        )

                        @inputText(
                            unitsForm("titleCzech"),
                            '_label -> "Český název",
                            'class -> "form-control",
                            '_help -> "Prosím zadejte Důvod návštěvy.",
                            '_error -> unitsForm.globalError
                        )
                        @inputText(
                            unitsForm("titleEnglish"),
                            '_label -> "Anglický název",
                            'class -> "form-control",
                            '_help -> "Prosím zadejte Důvod návštěvy.",
                            '_error -> unitsForm.globalError
                        )

                        @inputText(
                            unitsForm("functionNameOfSeniorEmployee"),
                            '_label -> "Název funkce vedoucího zaměstnance OJ",
                            'class -> "form-control",
                            '_help -> "Prosím zadejte Důvod návštěvy.",
                            '_error -> unitsForm.globalError
                        )
                        @inputText(
                            unitsForm("functionNameOfSeniorEmployeeAppointment"),
                            '_label -> "Název funkce ved.zaměstnance pověřeného jmenováním/přijetím OJ",
                            'class -> "form-control",
                            '_help -> "Prosím zadejte Důvod návštěvy.",
                            '_error -> unitsForm.globalError
                        )

                        @inputText(
                            unitsForm("organizationalUnitResponsible"),
                            '_label -> "Seznam NS, za jejichž hospodaření odpovídá ved. zam OJ",
                            'class -> "form-control",
                            '_help -> "Prosím zadejte Důvod návštěvy.",
                            '_error -> unitsForm.globalError
                        )


                        @select(
                            unitsForm("headOfOrganizationalUnit.id"),
                            options(Employees.options()),
                            '_label -> "Vedoucí oddělení",
                            'class -> "form-control",
                            '_help -> "Prosím zadejte semestr výjezdu.",
                            '_error -> unitsForm.globalError
                        )

                        @select(
                            unitsForm("deputyHeadOfOrganizationalUnit.id"),
                            options(Employees.options()),
                            '_label -> "Zástupce vedoucího oddělení",
                            'class -> "form-control",
                            '_help -> "Prosím zadejte semestr výjezdu.",
                            '_error -> unitsForm.globalError
                        )


                    </fieldset>

                    <div class="actions">

                        <input type="submit" class="btn btn-lg btn-success btn-block" value="Uložit">
                        <a href="@routes.Application.index()" class="btn">Zrušit</a>
                    </div>

                }
                </div>
            </div>
        </div>
    </div>
}
