@(semesterForm: Form[Semesters])
@import helper._
@localScripts = {
    <!-- Morris Charts JavaScript -->
    <script src='@routes.Assets.at("lib/raphaeljs/raphael-min.js")'></script>
    <script src='@routes.Assets.at("lib/morrisjs/morris.min.js")'></script>
    <script src='@routes.Assets.at("javascripts/morris-data.js")'></script>
}
@main(scripts = localScripts) {
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Registrace</h1>
        </div>
            <!-- /.col-lg-12 -->
    </div>
        <!-- /.row -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel-body">
                @helper.form(action = routes.SemestersController.save) {

                    <fieldset>
                        <legend>Zadání předmětu</legend>
                        @inputText(
                            semesterForm("semesterVK"),
                            '_label -> "Semestr_v_k",
                            'class -> "form-control",
                            '_help -> "Prosím zadejte ident.",
                            '_error -> semesterForm.globalError
                        )

                        @inputText(
                            semesterForm("semesterVD"),
                            '_label -> "Semestr_v_d",
                            'class -> "form-control",
                            '_help -> "Prosím zadejte ident_old.",
                            '_error -> semesterForm.globalError
                        )

                        @inputText(
                            semesterForm("semesterAr"),
                            '_label -> "Akademický rok",
                            'class -> "form-control",
                            '_help -> "Prosím zadejte ident_old.",
                            '_error -> semesterForm.globalError
                        )

                        @inputText(
                            semesterForm("semesterFrom"),
                            '_label -> "Od",
                            'class -> "form-control",
                            '_help -> "Prosím zadejte ident_old.",
                            '_error -> semesterForm.globalError
                        )

                        @inputText(
                            semesterForm("semesterTo"),
                            '_label -> "Do",
                            'class -> "form-control",
                            '_help -> "Prosím zadejte ident_old.",
                            '_error -> semesterForm.globalError
                        )

                    </fieldset>

                    <div class="actions">

                        <input type="submit" class="btn btn-lg btn-success btn-block" value="Uložit">
                        <a href="@routes.Application.index()" class="btn">Zrušit</a>
                    </div>

                }
                </div>
            </div>
        </div>
    </div>
}
