@(publicationsForm: Form[Publications], participantsForm: Form[PublicationsParticipants])
@import helper._
@localScripts = {
    <!-- Morris Charts JavaScript -->

    <script src='@routes.Assets.at("javascripts/dynamicFields.js")'></script>

    <script>
            $(document).ready(function () {

                var MyUserObject = {};
                MyUserObject["prd1"] = "@Employees.getJS1Value()";
                MyUserObject["krk1"] = "@Employees.getJS1Key()";

                hokuspokusCislo1(MyUserObject);
            });
    </script>
}
@main(scripts = localScripts) {
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Registrace</h1>
        </div>
            <!-- /.col-lg-12 -->
    </div>
        <!-- /.row -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="panel-body">
                @helper.form(action = routes.PublicationsController.save) {

                    <fieldset>
                        <legend>Zadání publikace</legend>
                        <div class="col-md-12">
                            <div class="row">
                            @inputText(
                                publicationsForm("citation"),
                                '_label -> "Citace:",
                                'class -> "form-control",
                                '_help -> "Prosím zadejte citaci.",
                                '_error -> publicationsForm.globalError
                            )
                            </div>
                            <div class="row">
                            @inputText(
                                publicationsForm("type"),
                                '_label -> "Typ publikace:",
                                'class -> "form-control",
                                '_help -> "Prosím zadejte typ publikace.",
                                '_error -> publicationsForm.globalError
                            )
                            </div>
                            <div class="row">
                            @select(
                                publicationsForm("semester.id"),
                                options(Semesters.options()),
                                '_label -> "Semestr publikace:",
                                'class -> "form-control",
                                '_help -> "Prosím zadejte semestr publikace.",
                                '_error -> publicationsForm.globalError
                            )
                            </div>
                            <div class="row">
                            @inputText(
                                publicationsForm("yearOfPublication"),
                                '_label -> "Rok:",
                                'class -> "form-control",
                                '_help -> "Prosím zadejte rok.",
                                '_error -> publicationsForm.globalError
                            )
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                            @select(
                                participantsForm("employees.id"),
                                options(Employees.options()),
                                '_label -> "Účastník:",
                                'class -> "form-control",
                                '_help -> "",
                                '_error -> participantsForm.globalError
                            )
                            </div>
                            <div class="col-md-3">
                            @inputText(
                                participantsForm("faculty"),
                                '_label -> "Fakulta:",
                                'class -> "form-control",
                                '_help -> "",
                                '_error -> participantsForm.globalError
                            )
                            </div>
                            <div class="col-md-1">
                            @inputText(
                                participantsForm("orderInPublication"),
                                '_label -> "Pořadí:",
                                'class -> "form-control",
                                '_help -> "",
                                '_error -> participantsForm.globalError
                            )
                            </div>
                            <div class="col-md-3">
                            @inputText(
                                participantsForm("department"),
                                '_label -> "Oddělení:",
                                'class -> "form-control",
                                '_help -> "",
                                '_error -> participantsForm.globalError
                            )
                            </div>
                            <div class="col-md-1">
                            @inputText(
                                participantsForm("share"),
                                '_label -> "Podíl:",
                                'class -> "form-control",
                                '_help -> "",
                                '_error -> participantsForm.globalError
                            )
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="dynamicInput"></div>
                                <input type="button" value="Přidat autora" class="btn btn-lg" onclick="addPublicationParticipant('dynamicInput');" />
                            </div>
                        </div>

                    </fieldset>

                    <div class="actions">

                        <input type="submit" class="btn btn-lg btn-success btn-block" value="Uložit">
                        <a href="@routes.Application.index()" class="btn">Zrušit</a>
                    </div>

                }
                </div>
            </div>
        </div>
    </div>
}
