@(msg: String, subjectForm: Form[Subjects], coursesForm: Form[Courses], scheduleForm: Form[Schedule], studyPlansForm: Form[StudyPlans])
@import helper._

@localStylesheets = {
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <style type="text/css">
    #formPresentation:not(:checked).invalid + strong {
        color: red;
    }

    </style>
}
@localScripts = {

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src='@routes.Assets.at("javascripts/dynamicFields.js")'></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

    <script>
            $(document).ready(function () {

                var fields = {};
                var semesters = {};
                var studygroups = {};
                var studygroups1 = {};

                fields["v"] = "@FieldsOfStudy.getValue()";
                fields["k"] = "@FieldsOfStudy.getKey()";

                semesters["v"] = "@Semesters.getValue()";
                semesters["k"] = "@Semesters.getKey()";

                studygroups["v"] = "@StudyGroups.getValue()";
                studygroups["k"] = "@StudyGroups.getKey()";

                studygroups1["v"] = "@StudyGroups1.getValue()";
                studygroups1["k"] = "@StudyGroups1.getKey()";

                studyplansArrays(fields, semesters, studygroups, studygroups1);

                var MyUserObject = {};
                MyUserObject["v"] = "@Employees.getJS1Value()";
                MyUserObject["k"] = "@Employees.getJS1Key()";

                employeeArray(MyUserObject);
                document.getElementById('addToAllWeeks').style.visibility = 'hidden';


                var newDiv = document.createElement('div');
                var mapKey = "@Semesters.getKey()";
                var mapValue = "@Semesters.getValue()";
                var testKey = mapKey.split(";");
                var testValue = mapValue.split(";");

                var i, out = [];//literal new array
                for (i = 0; i < testKey.length; i++) {
                    out.push([testKey[i], testValue[i]]);
                }

                var selectHTML = "";
                selectHTML = " <label for='xxx'>Semestr*:</label><select class='form-control' id='xxx' name='semester.id' onchange='getComboA(this)' >";
                for (i = 0; i < out.length; i = i + 1) {
                    selectHTML += "<option value='" + out[i][0] + "'>" + out[i][1] + "</option>";

                }
                selectHTML += "</select>";
                newDiv.innerHTML = selectHTML;
                document.getElementById('sel').appendChild(newDiv);

            });

            function getComboA(selectObject) {
                var value = selectObject.value;
                var fr = "@Semesters.findById('1')";
                document.getElementById('identOld').value = fr.value;

            }

            $('.timepicker').timepicker({
                timeFormat: 'HH:mm',
                interval: 5,
                minTime: '6:00',
                maxTime: '23:00',
                defaultTime: '7:00',
                startTime: '6:00',
                dynamic: true,
                dropdown: true,
                scrollbar: true
            });


            $('input[type="checkbox"][id="formPresentation"]').on('change', function () {
                var pres = document.getElementById('formPresentation');
                var combi = document.getElementById('formCombined');
                var isChecked = false;

                if (pres.checked || combi.checked) {
                    isChecked = true;
                }
                if (isChecked) {
                    document.getElementById("formPresentation").required = false;
                    document.getElementById("formCombined").required = false;
                } else {
                    document.getElementById("formPresentation").required = true;
                    document.getElementById("formCombined").required = true;
                }
            });
    </script>
}

@main(scripts = localScripts, stylesheets = localStylesheets) {
        <!-- cdn for modernizr, if you haven't included it already -->
    <script src="http://cdn.jsdelivr.net/webshim/1.12.4/extras/modernizr-custom.js"></script>
        <!-- polyfiller file to detect and load polyfills -->
    <script src="http://cdn.jsdelivr.net/webshim/1.12.4/polyfiller.js"></script>
    <script>
            webshim.setOptions("forms-ext", {
                "date": {
                    "startView": 2,
                    "inlinePicker": false
                }
            });
            webshim.setOptions("forms-ext", {
                "widgets": {
                    "stepfactor": 1,
                    "nopicker": true
                }
            });
            webshims.activeLang('cs');
            webshims.setOptions('forms-ext', {types: 'date'});
            webshims.polyfill('forms forms-ext');
    </script>
    <div class="row">
        <div class="col-lg-30">
            <h1 class="page-header">Registrace</h1>
        </div>
            <!-- /.col-lg-12 -->
    </div>
        <!-- /.row -->
    <div class="container">
        <div class="row">
            <div class="col-md-30">
                <div class="panel-body">
                @helper.form(action = routes.SubjectPlanTeachingController.save) {
                    <fieldset>
                        <legend>Zadání předmětu</legend>
                        <p style="color: red"><strong> @msg</strong></p>
                        <div class="col-md-30">
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="ident">Ident*:</label>
                                    <input type="text" id="ident" class="form-control" name="ident" maxlength="8" required/>
                                </div>
                                <div class="col-md-3">
                                    <label for="hoursP">Počet hodin přednášek za týden*:</label>
                                    <input type="text" id="hoursP" class="form-control" name="hoursP" onkeypress="return isNumberKey(event)" maxlength="1" required/>
                                </div>
                                <div class="col-md-1">
                                    <label for="credit">Zápočet:</label>
                                    <input type="checkbox" id="credit" class="form-control" name="credit"/>
                                </div>
                                <div class="col-md-1">
                                    <label for="exam">Zkouška:</label>
                                    <input type="checkbox" id="exam" class="form-control" name="exam"/>
                                </div>
                                <div class="col-md-2">
                                    <label for="classifiedCredit">Klasifikovaný zápočet:</label>
                                    <input type="checkbox" id="classifiedCredit" class="form-control" name="classifiedCredit"/>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="identOld">Ident old:</label>
                                    <input type="text" id="identOld" class="form-control" name="identOld"/>
                                </div>
                                <div class="col-md-3">
                                    <label for="hoursC">Počet hodin cvičení za týden*:</label>
                                    <input type="text" id="hoursC" class="form-control" name="hoursC" onkeypress="return isNumberKey(event)" maxlength="1" required/>
                                </div>
                                <div class="col-md-2">
                                    <label for="formPresentation">Prezenční forma:</label>
                                    <input type="checkbox" id="formPresentation" class="form-control" name="formPresentation"/>
                                </div>
                                <div class="col-md-2">
                                    <label for="formCombined">Kombinovaná forma:</label>
                                    <input type="checkbox" id="formCombined" class="form-control" name="formCombined"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="titleC">Název česky*:</label>
                                    <input type="text" id="titleC" class="form-control" name="titleC" required/>
                                </div>
                                <div class="col-md-3">
                                    <label for="credits">Počet kreditů*:</label>
                                    <input type="text" id="credits" class="form-control" name="credits" onkeypress="return isNumberKey(event)" maxlength="2" required/>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="titleA">Název anglicky*:</label>
                                    <input type="text" id="titleA" class="form-control" name="titleA" required/>
                                </div>
                                <div class="col-md-3">
                                    <label for="hoursSemester">Počet hodin za semestr*:</label>
                                    <input type="text" id="hoursSemester" class="form-control" name="hoursSemester" onkeypress="return isNumberKey(event)" maxlength="2" required/>
                                </div>
                                <div class="col-md-4">
                                    <label for="department">Oddělení*:</label>
                                    <input type="text" id="department" class="form-control" name="department" maxlength="5" required/>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div id="sel">
                                    </div>

                                </div>
                                <div class="col-md-3">
                                    <label for="course">Kurz*:</label>
                                    <input type="text" id="course" class="form-control" name="course" onkeypress="return isNumberKey(event)" maxlength="5" required/>
                                </div>
                                <div class="col-md-4">
                                    <label for="numberOfStudents">Počet studentů*:</label>
                                    <input type="text" id="numberOfStudents" class="form-control" name="numberOfStudents" onkeypress="return isNumberKey(event)" required/>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                @select(
                                    scheduleForm("days.id"),
                                    options(Days.options()),
                                    '_label -> "Den",
                                    'class -> "form-control",
                                    '_help -> "",
                                    '_error -> scheduleForm.globalError
                                )
                                </div>
                                <div class="col-md-3">
                                    <label for="scheduleFrom">Od*:</label>
                                    <input type="text" id="scheduleFrom" class="timepicker form-control" name="scheduleFrom" onkeypress="return isDateKey(event)" maxlength="5" required/>
                                </div>
                                <div class="col-md-3">
                                    <label for="scheduleTo">Do*:</label>
                                    <input type="text" id="scheduleTo" class="timepicker form-control" name="scheduleTo" onkeypress="return isDateKey(event)" maxlength="5" required/>
                                </div>
                                <div class="col-md-3">
                                @select(
                                    scheduleForm("classroom.id"),
                                    options(Classroom.options()),
                                    '_label -> "Učebna",
                                    'class -> "form-control",
                                    '_help -> "",
                                    '_error -> scheduleForm.globalError
                                )
                                </div>
                            </div>

                        </div>

                        <div class="col-md-30">
                            <div class="panel panel-default">
                                    <!-- /.panel-heading -->
                                <div class="panel-body">
                                        <!-- Nav tabs -->
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#home" data-toggle="tab">Výuka</a>
                                        </li>
                                        <li><a href="#studyplans" data-toggle="tab">Studijní plány</a>
                                        </li>
                                    </ul>

                                        <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div class="tab-pane fade in active" id="home">
                                            <div class="row">
                                            </br>
                                                <div class="col-md-4">
                                                    <label>Zadání týdnů</label>
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <label>
                                                                    Semestr začíná: <input type="date" class="form-control" id="startSemester" value="01.01.2017" onblur="setStartWeek();"/> </label>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label>
                                                                    Semestr končí: <input type="date" class="form-control" value="01.07.2017" id="endSemester"/> </label>
                                                            </div>
                                                        </div>
                                                        <div id="MyEdit">

                                                        </div>
                                                        <div class="col-md-9">
                                                            <div class="radio">
                                                                <label>
                                                                    <input type="radio" id="noCheck" name="optionsRadios" value="1" onclick="displaySpecialWeeksOff();">
                                                                    Všechny týdny
                                                                </label>
                                                            </div>
                                                            <div class="radio">
                                                                <label>
                                                                    <input type="radio" id="noCheck" name="optionsRadios" value="2" onclick="displaySpecialWeeksOff();">
                                                                    Pouze sudé týdny
                                                                </label>
                                                            </div>
                                                            <div class="radio">
                                                                <label>
                                                                    <input type="radio" id="noCheck" name="optionsRadios" value="3" onclick="displaySpecialWeeksOff();">
                                                                    Pouze liché týdny
                                                                </label>
                                                            </div>
                                                            <div class="radio">
                                                                <label>
                                                                    <input type="radio" id="yesCheck" name="optionsRadios" value="4" onclick="displaySpecialWeeks();">
                                                                    Individuální zadání počtu týdnů
                                                                </label>
                                                                <div id="ifYes" style="display: none">
                                                                    <input type="text" class="form-control" id="numOfRows" name="numOfRows" onkeypress="return isNumberKey(event)" maxlength="2">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-md-8" id="teacherToEveryWeek" style="display: none">
                                                    <div class="row">
                                                        <input type="button" id="addCourseT" class="btn btn-default" value="Přidat vyučující ke všem týdnům" onclick="addCourseTeacher1();" />
                                                        <div class="row">
                                                        </br>
                                                        </div>
                                                        <div id="radky"></div>
                                                        <input type="button" id="addToAllWeeks" class="btn btn-outline btn-primary" value="Přidat k týdnům" onclick="addCourseTeacherWeeksByDefault()" />
                                                    </div>
                                                </div>
                                            </br>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <input type="button" class="btn btn-outline btn-primary" value="Vygenerovat týdny" onclick="appendRowDiv()" />
                                                            <div class="row">
                                                            </br>
                                                            </div>
                                                            <div id="r"></div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="studyplans">
                                        </br>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="button" class="btn btn-outline btn-primary" value="Přidat studijní plán" onclick="addStudyPlan('studyplan');" />
                                                    <div class="row">
                                                    </br>
                                                    </div>

                                                    <div id="studyplan"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    <!-- /.panel-body -->
                            </div>
                                <!-- /.panel -->
                        </div>

                    </fieldset>

                    <div class="actions">
                        <input type="submit" class="btn btn-lg btn-success btn-block" value="Uložit">
                        <a href="@routes.Application.index()" class="btn">Zrušit</a>
                    </div>
                }
                </div>
            </div>
        </div>
    </div>
}
