@(visitsForm: Form[Visits])
    @import helper._
    @localScripts = {
        <!-- Morris Charts JavaScript -->
        <script src='@routes.Assets.at("lib/raphaeljs/raphael-min.js")'></script>
        <script src='@routes.Assets.at("lib/morrisjs/morris.min.js")'></script>
        <script src='@routes.Assets.at("javascripts/morris-data.js")'></script>
    }
    @main(scripts = localScripts) {
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Registrace</h1>
            </div>
                <!-- /.col-lg-12 -->
        </div>
            <!-- /.row -->
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel-body">
                    @helper.form(action = routes.VisitsController.save) {

                        <fieldset>
                            <legend>Zadání předmětu</legend>
                            <div class="row">
                                <div class="col-md-12">
                                @select(
                                    visitsForm("employees.id"),
                                    options(Employees.options()),
                                    '_label -> "Účastník:",
                                    'class -> "form-control",
                                    '_help -> "Prosím zadejte semestr účastníka.",
                                    '_error -> visitsForm.globalError
                                )
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                @inputText(
                                    visitsForm("purposeOfVisit"),
                                    '_label -> "Důvod návštěvy:",
                                    'class -> "form-control",
                                    '_help -> "Prosím zadejte Důvod návštěvy.",
                                    '_error -> visitsForm.globalError
                                )
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                @inputText(
                                    visitsForm("country"),
                                    '_label -> "Země:",
                                    'class -> "form-control",
                                    '_help -> "Prosím zadejte zemi.",
                                    '_error -> visitsForm.globalError
                                )
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                @inputText(
                                    visitsForm("event"),
                                    '_label -> "Název události:",
                                    'class -> "form-control",
                                    '_help -> "Prosím zadejte Název události.",
                                    '_error -> visitsForm.globalError
                                )
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                @inputText(
                                    visitsForm("visitFrom"),
                                    '_label -> "Výjezd od:",
                                    'class -> "form-control",
                                    '_help -> "Prosím zadejte datum.",
                                    '_error -> visitsForm.globalError
                                )
                                </div>
                                <div class="col-md-6">
                                @inputText(
                                    visitsForm("visitTo"),
                                    '_label -> "Výjezd do:",
                                    'class -> "form-control",
                                    '_help -> "Prosím zadejte datum.",
                                    '_error -> visitsForm.globalError
                                )
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                @select(
                                    visitsForm("semester.id"),
                                    options(Semesters.options()),
                                    '_label -> "Výjezd proběhl v semestru:",
                                    'class -> "form-control",
                                    '_help -> "Prosím zadejte semestr výjezdu.",
                                    '_error -> visitsForm.globalError
                                )
                                </div>
                            </div>

                        </fieldset>

                        <div class="actions">

                            <input type="submit" class="btn btn-lg btn-success btn-block" value="Uložit">
                            <a href="@routes.Application.index()" class="btn">Zrušit</a>
                        </div>

                    }
                    </div>
                </div>
            </div>
        </div>
    }
