@(employeesForm: Form[Employees])
    @import helper._
    @localScripts = {
        <!-- Morris Charts JavaScript -->
        <script src='@routes.Assets.at("lib/raphaeljs/raphael-min.js")'></script>
        <script src='@routes.Assets.at("lib/morrisjs/morris.min.js")'></script>
        <script src='@routes.Assets.at("javascripts/morris-data.js")'></script>
    }
    @main(scripts = localScripts) {
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Registrace zaměstnance</h1>
            </div>
                <!-- /.col-lg-12 -->
        </div>
            <!-- /.row -->
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel-body">
                    @helper.form(action = routes.EmployeesController.save) {

                        <fieldset>
                            <legend>Přihlašovací údaje</legend>
                            @inputText(
                                employeesForm("personalNumber"),
                                '_label -> "Osobní číslo",
                                'class -> "form-control",
                                '_help -> "Prosím zadejte osobní číslo.",
                                '_error -> employeesForm.globalError
                            )

                            @inputText(
                                employeesForm("titleBefore"),
                                '_label -> "Titul před",
                                'class -> "form-control",
                                '_help -> "Prosím zadejte titul před.",
                                '_error -> employeesForm.globalError
                            )

                            @inputText(
                                employeesForm("firstName"),
                                '_label -> "Jméno",
                                'class -> "form-control",
                                '_help -> "Prosím zadejte jméno.",
                                '_error -> employeesForm.globalError
                            )

                            @inputText(
                                employeesForm("surname"),
                                '_label -> "Příjmení",
                                'class -> "form-control",
                                '_help -> "Prosím zadejte příjmení.",
                                '_error -> employeesForm.globalError
                            )

                            @inputText(
                                employeesForm("titleAfter"),
                                '_label -> "Titul za",
                                'class -> "form-control",
                                '_help -> "Prosím zadejte titul za.",
                                '_error -> employeesForm.globalError
                            )

                        </fieldset>

                        <div class="actions">

                            <input type="submit" class="btn btn-lg btn-success btn-block" value="Uložit">
                            <a href="@routes.Application.index()" class="btn">Zrušit</a>
                        </div>

                    }
                    </div>
                </div>
            </div>
        </div>
    }
