@(signupForm: Form[Member], employeesForm: Form[Employees], unitsForm: Form[OrganizationalUnitsParticipants])
@import helper._
@localScripts = {
    <!-- Morris Charts JavaScript -->
    <script src='@routes.Assets.at("lib/raphaeljs/raphael-min.js")'></script>
    <script src='@routes.Assets.at("lib/morrisjs/morris.min.js")'></script>
    <script src='@routes.Assets.at("javascripts/morris-data.js")'></script>
}
@main(scripts = localScripts) {
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Registrace zaměstnance</h1>
        </div>
            <!-- /.col-lg-12 -->
    </div>
        <!-- /.row -->
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel-body">
                @helper.form(action = routes.EmployeesController.save) {

                    <fieldset>
                        <legend>Přihlašovací údaje</legend>
                        <div class="row">
                            <div class="col-md-6">
                            @inputText(
                                signupForm("email"),
                                '_label -> "Email",
                                'class -> "form-control",
                                '_help -> "Prosím zadejte platnou e-mailovou adresu.",
                                '_error -> signupForm.globalError
                            )
                            </div>
                            @if(session().get("role").equals("director")) {
                                <div class="col-md-6">
                                @select(
                                    signupForm("accessRole.id"),
                                    options(AccessRole.options()),
                                    '_label -> "Role",
                                    '_default -> "-- Vyberte --",
                                    'class -> "form-control",
                                    '_help -> "",
                                    '_error -> signupForm.globalError
                                )
                                </div>
                            }

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                            @inputText(
                                signupForm("uid"),
                                '_label -> "Uživatelské jméno",
                                'class -> "form-control",
                                '_help -> "Prosím zadejte platné uživatelské jméno.",
                                '_error -> signupForm.globalError
                            )
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                            @inputPassword(
                                signupForm("password"),
                                '_label -> "Heslo",
                                'class -> "form-control",
                                '_help -> "Heslo musí mít nejméně 6 znaků."
                            )
                            </div>
                            <div class="col-md-6">
                            @inputPassword(
                                signupForm("repeatPassword"),
                                '_label -> "Heslo pro kontrolu",
                                'class -> "form-control",
                                '_help -> "Prosím zadejte znovu heslo.",
                                '_error -> signupForm.error("password")
                            )
                            </div>
                        </div>
                        @inputText(
                            employeesForm("personalNumber"),
                            '_label -> "Osobní číslo",
                            'class -> "form-control",
                            '_help -> "Prosím zadejte osobní číslo.",
                            '_error -> employeesForm.globalError
                        )
                        <div class="row">
                            <div class="col-md-2">
                            @inputText(
                                employeesForm("titleBefore"),
                                '_label -> "Titul před",
                                'class -> "form-control",
                                '_help -> "Prosím zadejte titul před.",
                                '_error -> employeesForm.globalError
                            )
                            </div>
                            <div class="col-md-4">
                            @inputText(
                                employeesForm("firstName"),
                                '_label -> "Jméno",
                                'class -> "form-control",
                                '_help -> "Prosím zadejte jméno.",
                                '_error -> employeesForm.globalError
                            )
                            </div>
                            <div class="col-md-4">

                            @inputText(
                                employeesForm("surname"),
                                '_label -> "Příjmení",
                                'class -> "form-control",
                                '_help -> "Prosím zadejte příjmení.",
                                '_error -> employeesForm.globalError
                            )

                            </div>
                            <div class="col-md-2">
                            @inputText(
                                employeesForm("titleAfter"),
                                '_label -> "Titul za",
                                'class -> "form-control",
                                '_help -> "Prosím zadejte titul za.",
                                '_error -> employeesForm.globalError
                            )
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                            @select(
                                unitsForm("organizationalUnits.id"),
                                options(OrganizationalUnits.options()),
                                '_label -> "Organizační jednotka",
                                '_default -> "-- Vyberte --",
                                'class -> "form-control",
                                '_help -> "",
                                '_error -> unitsForm.globalError
                            )
                            </div>
                            <div class="col-md-4">
                            @select(
                                unitsForm("function"),
                                options(OrganizationalUnitsParticipants.optionsFunction()),
                                '_label -> "Funkce",
                                '_default -> "-- Vyberte --",
                                'class -> "form-control",
                                '_help -> "",
                                '_error -> unitsForm.globalError
                            )
                            </div>
                            <div class="col-md-4">
                            @inputText(
                                unitsForm("functionName"),
                                '_label -> "Název funkce",
                                'class -> "form-control",
                                '_help -> "",
                                '_error -> unitsForm.globalError
                            )
                            </div>
                        </div>
                    </fieldset>

                    <div class="actions">

                        <input type="submit" class="btn btn-lg btn-success btn-block" value="Uložit">
                        <a href="@routes.Application.index()" class="btn">Zrušit</a>
                    </div>

                }
                </div>
            </div>
        </div>
    </div>
}
