@(subjectForm: Form[Subjects])
@import helper._
@localScripts = {
    <!-- Morris Charts JavaScript -->
    <script src='@routes.Assets.at("lib/raphaeljs/raphael-min.js")'></script>
    <script src='@routes.Assets.at("lib/morrisjs/morris.min.js")'></script>
    <script src='@routes.Assets.at("javascripts/morris-data.js")'></script>
}
@main(scripts = localScripts) {
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Registrace</h1>
        </div>
            <!-- /.col-lg-12 -->
    </div>
        <!-- /.row -->
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel-body">
                @helper.form(action = routes.SubjectController.save) {

                    <fieldset>
                        <legend>Zadání předmětu</legend>
                        <div class="row">
                            <div class="col-md-6">
                            @inputText(
                                subjectForm("ident"),
                                '_label -> "Ident*:",
                                'required -> "required",
                                'class -> "form-control",
                                '_help -> "",
                                '_error -> subjectForm.globalError
                            )
                            </div>
                            <div class="col-md-6">
                            @inputText(
                                subjectForm("identOld"),
                                '_label -> "Ident_old:",
                                'class -> "form-control",
                                '_help -> "",
                                '_error -> subjectForm.globalError
                            )
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                            @inputText(
                                subjectForm("titleC"),
                                '_label -> "Název česky*:",
                                'required -> "required",
                                'class -> "form-control",
                                '_help -> "",
                                '_error -> subjectForm.globalError
                            )
                            </div>
                            <div class="col-md-6">
                            @inputText(
                                subjectForm("titleA"),
                                '_label -> "Název anglicky*:",
                                'required -> "required",
                                'class -> "form-control",
                                '_help -> "",
                                '_error -> subjectForm.globalError
                            )
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                            @inputText(
                                subjectForm("hoursP"),
                                '_label -> "Počet hodin přednášek za týden*:",
                                'required -> "required",
                                'class -> "form-control",
                                '_help -> "",
                                '_error -> subjectForm.globalError
                            )
                            </div>
                            <div class="col-md-4">
                            @inputText(
                                subjectForm("hoursC"),
                                '_label -> "Počet hodin cvičení za týden*:",
                                'required -> "required",
                                'class -> "form-control",
                                '_help -> "",
                                '_error -> subjectForm.globalError
                            )
                            </div>
                            <div class="col-md-4">
                            @inputText(
                                subjectForm("hoursSemester"),
                                '_label -> "Počet hodin za semestr*:",
                                'required -> "required",
                                'class -> "form-control",
                                '_help -> "",
                                '_error -> subjectForm.globalError
                            )
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                            @inputText(
                                subjectForm("credits"),
                                '_label -> "Počet kreditů*:",
                                'required -> "required",
                                'class -> "form-control",
                                '_help -> "",
                                '_error -> subjectForm.globalError
                            )</div>

                            <div class="col-md-8">
                                @checkbox(
                                    subjectForm("credit"),
                                    '_label -> "Zápočet:",
                                    'class -> "form-control",
                                    '_help -> "",
                                    '_error -> subjectForm.globalError
                                )

                                @checkbox(
                                    subjectForm("exam"),
                                    '_label -> "Zkouška:",
                                    'class -> "form-control",
                                    '_help -> "",
                                    '_error -> subjectForm.globalError
                                )

                                @checkbox(
                                    subjectForm("classifiedCredit"),
                                    '_label -> "Klasifikovaný zápočet:",
                                    'class -> "form-control",
                                    '_help -> "",
                                    '_error -> subjectForm.globalError
                                )
                            </div>
                        </div>
                        @inputText(
                            subjectForm("department"),
                            '_label -> "Oddělení*:",
                            'required -> "required",
                            'class -> "form-control",
                            '_help -> "",
                            '_error -> subjectForm.globalError
                        )

                        @checkbox(
                            subjectForm("formPresentation"),
                            '_label -> "Prezenční forma:",
                            'class -> "form-control",
                            '_help -> "",
                            '_error -> subjectForm.globalError
                        )
                        @checkbox(
                            subjectForm("formCombined"),
                            '_label -> "Kombinovaná forma:",
                            'class -> "form-control",
                            '_help -> "",
                            '_error -> subjectForm.globalError
                        )
                    </fieldset>
                    <div class="actions">
                        <input type="submit" class="btn btn-lg btn-success btn-block" value="Uložit">
                        <a href="@routes.Application.index()" class="btn">Zrušit</a>
                    </div>

                }
                </div>
            </div>
        </div>
    </div>
}
