@(unitsForm: Form[OrganizationalUnits])
@import helper._
@localScripts = {
    <!-- Morris Charts JavaScript -->
    <script src='@routes.Assets.at("lib/raphaeljs/raphael-min.js")'></script>
    <script src='@routes.Assets.at("lib/morrisjs/morris.min.js")'></script>
    <script src='@routes.Assets.at("javascripts/morris-data.js")'></script>
}
@main(scripts = localScripts) {
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Registrace</h1>
        </div>
            <!-- /.col-lg-12 -->
    </div>
        <!-- /.row -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel-body">
                @helper.form(action = routes.OrganizationalUnitsController.save) {

                    <fieldset>
                        <legend>Zadání organizační jednotky</legend>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="course">Číslo OJ*:</label>
                                <input type="text" id="organizationalUnitNumber" class="form-control" name="organizationalUnitNumber" required/>
                            </div>
                            <div class="col-md-6">
                                <label for="course">Číslo nadřazené OJ*:</label>
                                <input type="text" id="organizationalUnitNumberParent" class="form-control" name="organizationalUnitNumberParent" required/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="course">Český název*:</label>
                                <input type="text" id="titleCzech" class="form-control" name="titleCzech" required/>
                            </div>
                            <div class="col-md-6">
                                <label for="course">Anglický název*:</label>
                                <input type="text" id="titleEnglish" class="form-control" name="titleEnglish" required/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="course">Název funkce vedoucího zaměstnance OJ*:</label>
                                <input type="text" id="functionNameOfSeniorEmployee" class="form-control" name="functionNameOfSeniorEmployee" required/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="course">Název funkce ved.zaměstnance pověřeného jmenováním/přijetím OJ*:</label>
                                <input type="text" id="functionNameOfSeniorEmployeeAppointment" class="form-control" name="functionNameOfSeniorEmployeeAppointment" required/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="course">Seznam NS, za jejichž hospodaření odpovídá ved. zam OJ*:</label>
                                <input type="text" id="organizationalUnitResponsible" class="form-control" name="organizationalUnitResponsible" onkeypress="return isNumberKey(event)" required/>
                            </div>
                        </div>
                        </br>
                    </fieldset>

                    <div class="actions">
                        <input type="submit" class="btn btn-lg btn-success btn-block" value="Uložit">
                        <a href="@routes.Application.index()" class="btn">Zrušit</a>
                    </div>
                }
                </div>
            </div>
        </div>
    </div>
}
