@(publicationsForm: Form[Publications], participantsForm: Form[PublicationsParticipants])
    @import helper._
    @localScripts = {
        <!-- Morris Charts JavaScript -->
        <script src='@routes.Assets.at("DataTables/DataTables-1.10.13/js/jquery.dataTables.js")'></script>
        <script src='@routes.Assets.at("DataTables/DataTables-1.10.13/js/dataTables.bootstrap.min.js")'></script>
        <script src='@routes.Assets.at("javascripts/dynamicFields.js")'></script>

        <script>
                $(document).ready(function () {

                    var MyUserObject = {};
                    MyUserObject["v"] = "@Employees.getJS1Value()";
                    MyUserObject["k"] = "@Employees.getJS1Key()";

                    publicationArray(MyUserObject);
                });


        </script>
    }
    @main(scripts = localScripts) {

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Registrace</h1>
            </div>
                <!-- /.col-lg-12 -->
        </div>
            <!-- /.row -->
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="panel-body">
                    @helper.form(action = routes.PublicationsController.save) {

                        <fieldset>
                            <legend>Zadání publikace</legend>

                            <div class="row">
                                <div class="col-md-12">
                                    <label for="course">Citace*:</label>
                                    <input type="text" id="citation" class="form-control" name="citation" required/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="course">Typ publikace*:</label>
                                    <input type="text" id="type" class="form-control" name="type" required/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                @select(
                                    publicationsForm("semester.id"),
                                    options(Semesters.options()),
                                    '_label -> "Semestr publikace*:",
                                    'class -> "form-control",
                                    '_help -> "Prosím zadejte semestr publikace.",
                                    '_error -> publicationsForm.globalError
                                )
                                </div>
                                <div class="col-md-3">
                                    <label>
                                        Rok publikace*:
                                        <input type="text" value="2017" class="form-control" id="yearOfPublication" name="yearOfPublication" onkeypress="return isNumberKey(event)" maxlength="4" required/></label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <input type="button" value="Přidat autora" class="btn btn-outline btn-primary" onclick="addPublicationParticipant();" />
                                    <div class="row">
                                    </br>
                                    </div>
                                    <div id="publpart"></div>
                                </div>
                            </div>

                        </fieldset>
                        </br>
                        <div class="actions">
                            <input type="submit" class="btn btn-lg btn-success btn-block" value="Uložit">
                            <a href="@routes.Application.index()" class="btn">Zrušit</a>
                        </div>
                    }
                    </div>
                </div>
            </div>
        </div>
    }
