@()
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">

            <li>
                <a href='@routes.Application.dashboard'>
                    <i class="fa fa-dashboard fa-fw"></i> Nástěnka
                </a>
            </li>
            <li>
                <a href="#"><i class="fa fa-files-o fa-fw"></i> Osobní údaje<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="@routes.PersonalStatisticController.index()">Výuka dle oddělení a osob</a>
                        <a href='@routes.PersonalStatisticController.listTableTeachingAccordingToPersons()'>Výuka dle osob</a>
                        <a href="@routes.PersonalStatisticController.teachingAAA()">Výuka AAA</a>
                        <a href="@routes.PersonalStatisticController.teachingAAB()">Výuka AAB</a>
                        <a href="@routes.PersonalStatisticController.teachingCB()">Výuka CB</a>
                        <a href="@routes.StatisticController.index()">Zobrazit DČPS</a>
                        <a href="@routes.StatisticController.studyPlansTable()">Zobrazit SP</a>

                        <a href="@routes.EmployeesController.info(session().get("email"))">Info</a>
                        <a href="@routes.StatisticController.listEmployeerActvitiy(session().get("email"))">
                            Můj souhrn aktivity v semestrech</a>
                        <a href='@routes.PersonalStatisticController.listTableTeachingAccordingToId(session().get("email"))'>
                            Má výuka</a>

                    </li>
                </ul>
                    <!-- /.nav-second-level -->
            </li>

            <li>
            @if(session().get("role").equals("director")) {
                <a href="#"><i class="fa fa-table fa-fw"></i>Seznamy<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    @if(session().get("role").equals("director")) {
                        <li>
                            <a href='@routes.PersonalStatisticController.listTableTeachingAccordingToPersons()'><i class="fa fa-table fa-fw"></i>
                                Výuka dle osob</a>
                        </li>
                    }

                    @if(session().get("role").equals("director")) {
                        <li>
                            <a href='@routes.StatisticController.listEmployeesActvitiy()'><i class="fa fa-table fa-fw"></i>
                                Souhrn výuky dle osob v semestrech</a>
                        </li>
                    }
                    @if(session().get("role").equals("director")) {
                        <li>
                            <a href='@routes.TableController.listPerson()'><i class="fa fa-table fa-fw"></i>
                                Pracovníci</a>
                        </li>
                    }
                    @if(session().get("role").equals("director")) {
                        <li>
                            <a href='@routes.TableController.listStudyPlans()'><i class="fa fa-table fa-fw"></i>
                                Studijní plány</a>
                        </li>
                    }
                    @if(session().get("role").equals("director")) {
                        <li>
                            <a href='@routes.TableController.listScheduleInWeeks()'><i class="fa fa-table fa-fw"></i>
                                Rozvrh v týdnech</a>
                        </li>
                    }
                    @if(session().get("role").equals("director")) {
                        <li>
                            <a href='@routes.TableController.listSchedule()'><i class="fa fa-table fa-fw"></i>
                                Rozvrh</a>
                        </li>
                    }
                    @if(session().get("role").equals("director")) {
                        <li>
                            <a href='@routes.TableController.listEmployees()'><i class="fa fa-table fa-fw"></i>
                                Zaměstnanci</a>
                        </li>
                    }
                    @if(session().get("role").equals("director")) {
                        <li>
                            <a href='@routes.TableController.listTeachers()'><i class="fa fa-table fa-fw"></i>
                                Vyučující</a>
                        </li>
                    }
                    @if(session().get("role").equals("director")) {
                        <li>
                            <a href='@routes.TableController.listStudyGroups()'><i class="fa fa-table fa-fw"></i>
                                Studijní skupiny</a>
                        </li>
                    }
                    @if(session().get("role").equals("director")) {
                        <li>
                            <a href='@routes.TableController.listSemesters()'><i class="fa fa-table fa-fw"></i>
                                Semestry</a>
                        </li>
                    }
                    @if(session().get("role").equals("director")) {
                        <li>
                            <a href='@routes.TableController.listSubjects()'><i class="fa fa-table fa-fw"></i>
                                Předměty</a>
                        </li>
                    }
                    @if(session().get("role").equals("director")) {
                        <li>
                            <a href='@routes.TableController.listFieldsOfStudy()'><i class="fa fa-table fa-fw"></i>
                                Obory</a>
                        </li>
                    }
                    @if(session().get("role").equals("director")) {
                        <li>
                            <a href='@routes.TableController.listCourses()'><i class="fa fa-table fa-fw"></i> Kurzy</a>
                        </li>
                    }
                    @if(session().get("role").equals("director")) {
                        <li>
                            <a href='@routes.TableController.listCurrentSemesters()'><i class="fa fa-table fa-fw"></i>
                                Aktuální semestry</a>
                        </li>
                    }
                    @if(session().get("role").equals("director")) {
                        <li>
                            <a href='@routes.TableController.listCurrentSemestersUntilTheEndOfStudy()'><i class="fa fa-table fa-fw"></i>
                                Aktuální semestry do konce studia</a>
                        </li>
                    }
                    @if(session().get("role").equals("director")) {
                        <li>
                            <a href='@routes.TableController.listDays()'><i class="fa fa-table fa-fw"></i> Dny</a>
                        </li>
                    }
                    @if(session().get("role").equals("director")) {
                        <li>
                            <a href='@routes.TableController.listCommittees()'><i class="fa fa-table fa-fw"></i>
                                Komise</a>
                        </li>
                    }
                    @if(session().get("role").equals("director")) {
                        <li>
                            <a href='@routes.TableController.listPublications()'><i class="fa fa-table fa-fw"></i>
                                Publikace</a>
                        </li>
                    }
                    @if(session().get("role").equals("director")) {
                        <li>
                            <a href='@routes.TableController.listTeachersInWeeks()'><i class="fa fa-table fa-fw"></i>
                                Učitelé v týdnech</a>
                        </li>
                    }
                </ul>
                    <!-- /.nav-second-level -->
            }
            </li>
            <li>
            @if(session().get("role").equals("director")) {
                <a href="#"><i class="fa fa-files-o fa-fw"></i> Další stránky<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    @if(session().get("role").equals("director")) {
                        <li>
                            <a href="@routes.Pages.blank">Blank Page</a>
                        </li>
                    }
                    @if(session().get("role").equals("director")) {
                        <li>
                            <a href="@routes.Application.pdf()">pdf</a>
                        </li>
                    }
                    @if(session().get("role").equals("director")) {
                        <li>
                            <a href="@routes.Application.raw()">Dokument</a>
                        </li>
                    }
                    @if(session().get("role").equals("director")) {
                        <li>
                            <a href="@routes.TestController.test()">test</a>
                        </li>
                    }
                    @if(session().get("role").equals("director")) {
                        <li>
                            <a href="@routes.SubjectPlanTeachingController.index()">Přidání předmětu do kurzu</a>
                        </li>
                    }
                    @if(session().get("role").equals("director")) {
                        <li>
                            <a href="@routes.VisitsController.index()">Registrace výjezdu</a>
                        </li>
                    }
                    @if(session().get("role").equals("director")) {
                        <li>
                            <a href="@routes.ProjectController.index()">Registrace projektu</a>
                        </li>
                    }
                    @if(session().get("role").equals("director")) {
                        <li>
                            <a href="@routes.CommitteeController.index()">Registrace komise</a>
                        </li>
                    }
                    @if(session().get("role").equals("director")) {
                        <li>
                            <a href="@routes.PublicationsController.index()">Registrace publikace</a>
                        </li>
                    }
                    @if(session().get("role").equals("director")) {
                        <li>
                            <a href="@routes.OrganizationalUnitsController.index()">Registrace organizační jednotky</a>
                        </li>
                    }
                    @if(session().get("role").equals("director")) {
                        <li>
                            <a href="@routes.OrganizationalUnitsController.indexParticipants()">OJ zaměstnanec</a>
                        </li>
                    }
                    @if(session().get("role").equals("director")) {
                        <li>
                            <a href="@routes.FinalWorksController.index()">Registrace závěrečné práce</a>
                        </li>
                    }
                    @if(session().get("role").equals("director")) {
                        <li>
                            <a href="@routes.Application.kpiChoosePerson()">KPI výběr osoby</a>
                        </li>
                    }
                    @if(session().get("role").equals("director")) {
                        <li>
                            <a href="@routes.Application.roles()">Role</a>
                        </li>
                    }
                    @if(session().get("role").equals("director")) {
                        <li>
                            <a href="@routes.PersonController.index()">Registrace osoby</a>
                        </li>
                    }
                    @if(session().get("role").equals("director")) {
                        <li>
                            <a href="@routes.EmployeesController.index()">Registrace zaměstnance</a>
                        </li>
                    }

                    @if(session().get("role").equals("director")) {
                        <li>
                            <a href="@routes.SubjectController.index()">Registrace předmětu</a>
                        </li>
                    }

                    @if(session().get("role").equals("director")) {
                        <li>
                            <a href="@routes.FieldOfStudyController.index()">Registrace oboru</a>
                        </li>
                    }
                    @if(session().get("role").equals("director")) {
                        <li>
                            <a href="@routes.StudyGroupsController.index()">Registrace skupiny</a>
                        </li>
                    }
                    @if(session().get("role").equals("director")) {
                        <li>
                            <a href="@routes.SemestersController.index()">Registrace semestru</a>
                        </li>
                    }
                    @if(session().get("role").equals("director")) {
                        <li>
                            <a href="@routes.StudyPlansController.index()">Registrace studijního plánu</a>
                        </li>
                    }
                    @if(session().get("role").equals("director")) {
                        <li>
                            <a href="@routes.TeachersController.index()">Registrace učitele</a>
                        </li>
                    }
                    @if(session().get("role").equals("director")) {
                        <li>
                            <a href="@routes.CourseController.index()">Registrace kurzu</a>
                        </li>
                    }

                </ul>
                    <!-- /.nav-second-level -->
            }
            </li>
            <li>
            @if(session().get("role").equals("director")) {
                <a href="#"><i class="fa fa-files-o fa-fw"></i> Metodika<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                @if(session().get("role").equals("director")) {
                    <li>
                        <a href="@routes.MethodicsController.index()">Přidat metodiku</a>
                    </li>
                }
                </ul>
                    <!-- /.nav-second-level -->
            }
            </li>
            <li>
            @if(session().get("role").equals("director")) {
                <a href='@routes.Application.forms'><i class="fa fa-edit fa-fw"></i> Formuláře</a>
            }
            </li>
            <li>
            @if(session().get("role").equals("director")) {
                <a href="#"><i class="fa fa-wrench fa-fw"></i> UI prvky<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="@routes.UiElements.panelsAndWells">Panels and Wells</a>
                    </li>
                    <li>
                        <a href="@routes.UiElements.buttons">Buttons</a>
                    </li>
                    <li>
                        <a href="@routes.UiElements.notifications">Notifications</a>
                    </li>
                    <li>
                        <a href="@routes.UiElements.typography">Typography</a>
                    </li>
                    <li>
                        <a href="@routes.UiElements.icons"> Icons</a>
                    </li>
                    <li>
                        <a href="@routes.UiElements.grid">Grid</a>
                    </li>
                </ul>
                    <!-- /.nav-second-level -->
            }
            </li>
            <li>
            @if(session().get("role").equals("director")) {
                <a href="#"><i class="fa fa-sitemap fa-fw"></i>
                    Multi-Level Dropdown<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Second Level Item</a>
                    </li>
                    <li>
                        <a href="#">Second Level Item</a>
                    </li>
                    <li>
                        <a href="#">Third Level <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                        </ul>
                            <!-- /.nav-third-level -->
                    </li>
                </ul>
                    <!-- /.nav-second-level -->
            }
            </li>
            <li>
            @if(session().get("role").equals("director")) {
                <a href="#">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Grafy<span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href='@routes.Charts.flot'>Flot Charts</a>
                    </li>
                    <li>
                        <a href='@routes.Charts.morris'>Morris.js Charts</a>
                    </li>
                </ul>
                    <!-- /.nav-second-level -->
            }
            </li>

        </ul>
    </div>
        <!-- /.sidebar-collapse -->
</div>