@(currentForm: Form[Test], currentPage: List[Test])
@import helper._

@localStylesheets = {
    <link href='@routes.Assets.at("stylesheets/tables.css")' rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.2/css/jquery.dataTables.css">
    <style>

 td.details-control {
    background: url('http://www.datatables.net/examples/resources/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('http://www.datatables.net/examples/resources/details_close.png') no-repeat center center;
    }
    </style>
}

@localScripts = {
        <!-- Morris Charts JavaScript -->
    <script src='@routes.Assets.at("lib/raphaeljs/raphael-min.js")'></script>
    <script src='@routes.Assets.at("lib/morrisjs/morris.min.js")'></script>
    <script src='@routes.Assets.at("javascripts/morris-data.js")'></script>
    <script src='@routes.Assets.at("DataTables/DataTables-1.10.13/js/jquery.dataTables.js")'></script>
    <script src='@routes.Assets.at("DataTables/DataTables-1.10.13/js/dataTables.bootstrap.min.js")'></script>
    <script src='@routes.Assets.at("javascripts/dynamicFields.js")'></script>
    <script src='@routes.Assets.at("javascripts/combodate.js")'></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js" type="text/javascript"></script>
        <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
            $(document).ready(function () {
                $('#dataTables-example').DataTable({
                    responsive: true
                });
            });
    </script>

}


@main(scripts = localScripts, stylesheets = localStylesheets) {


    <div class="row">

            <!-- cdn for modernizr, if you haven't included it already -->
        <script src="http://cdn.jsdelivr.net/webshim/1.12.4/extras/modernizr-custom.js"></script>
            <!-- polyfiller file to detect and load polyfills -->
        <script src="http://cdn.jsdelivr.net/webshim/1.12.4/polyfiller.js"></script>
        <script>
                webshim.setOptions("forms-ext", {
                    "date": {
                        "startView": 2,
                        "inlinePicker": true
                    }
                });
                webshims.setOptions('waitReady', false);
                webshims.setOptions('forms-ext', {types: 'date'});
                webshims.polyfill('forms forms-ext');
        </script>


        <input
        min="2011-01-01"
        max="2049-12-31"
        placeholder="dd.mm.yyyy"
        type="date"
        />
    </div>
    <div class="row">
        <input type="email" placeholder="me&#64;example.com">
    </div>
    <div class="row">
        <div id=spinner class="container">
            <div class="input-group spinner">
                <input type="text" class="form-control txtinput" value="0">

            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="start_date">Start Date</label>
        <input type="date" class="form-control" name="start_date" id="start_date" placeholder="mm/dd/yyyy">
    </div>
    <input type="text" value="0" id="myPercent"/>
    @helper.form(action = routes.TestController.save) {
        <div class="row">
            <div class="col-md-6">
            @select(
                currentForm("name"),
                options(Test.options()),
                '_label -> "Vyučující",
                'class -> "form-control",
                '_help -> "",
                '_error -> currentForm.globalError
            )
            </div>
            <div class="col-md-6">
                <input type='text' class='form-control' name='values[]' onkeypress="return isNumberKey(event)">
            </div>
        </div>

        <div id="dynamicInput"><input type="hidden" id="myField" value="@Test.getJS1Key()" /><input type="hidden" id="myField2" value="@Test.getJS1Value()" /></div>
        <input type="button" value="Add" onclick="addInputT1('dynamicInput', '@Test.getJS()');" />

        </br></br>

        <div class="row">
        <table class="table table-striped table-bordered table-hover" id="my-table">
            <tbody>

                <tr>
                <input type="button" class="btn btn" value="Přidat vyučujícího" onclick="appendRow()" />
                </tr>
            </tbody>
        </table>
        </div>

        <div class="row">
            </div>

        <div class="row">
            <input name="field-name">
            <input name="field-name">
            <input name="field-name">
        </div>

        <div class="actions">
        </br></br>
            <input type="submit" class="btn btn-lg btn-success btn-block" value="Uložit">
            <a href="@routes.Application.index()" class="btn">Zrušit</a>
        </div>
    }

    <select style="width: 200px;" id="uc_selector_main" onchange="unitMenuChange(this);">
        <option value="0">Select</option>
        <option value="Area">Area</option>
        <option value="Length">Length</option>
    </select>
    <br>
    <select style="width: 200px;" id="uc_selector">
        <option value="0">Select a unit</option>
    </select>

    <div class="input-group clockpicker">
        <input type="text" class="form-control" value="09:30">
    </div>
    <script type="text/javascript">
            $('.clockpicker').clockpicker()
                    .find('input').change(function(){
                        // TODO: time changed
                        console.log(this.value);
                    });
            $('#demo-input').clockpicker({
                autoclose: true
            });

            if (something) {
                // Manual operations (after clockpicker is initialized).
                $('#demo-input').clockpicker('show') // Or hide, remove ...
                        .clockpicker('toggleView', 'minutes');
            }

            $(document).ready(function () {
                var table = $('#example').DataTable({});

                // Add event listener for opening and closing details
                $('#example').on('click', 'td.details-control', function () {
                    var tr = $(this).closest('tr');
                    var row = table.row(tr);

                    if (row.child.isShown()) {
                        // This row is already open - close it
                        row.child.hide();
                        tr.removeClass('shown');
                    } else {
                        // Open this row
                        format(row.child);
                        tr.addClass('shown');
                    }
                });

                function format(callback) {
                    $.ajax({
                        url:'/echo/js/?js=[{ \"name\": \"test1\", \"value\": \"val1\" }, {\"name\": \"test2\", \"value\": \"val2\"}]',
                        dataType: "json",
                        complete: function (response) {
                            var data = JSON.parse(response.responseText);
                            console.log(data);
                            var thead = '',  tbody = '';
                            for (var key in data[0]) {
                                thead += '<th>' + key + '</th>';
                            }
                            $.each(data, function (i, d) {
                                tbody += '<tr><td>' + d.name + '</td><td>' + d.value + '</td></tr>';
                            });
                            console.log('<table>' + thead + tbody + '</table>');
                            callback($('<table>' + thead + tbody + '</table>')).show();
                        },
                        error: function () {
                            $('#output').html('Bummer: there was an error!');
                        }
                    });
                }
            });
    </script>
<p>***********************************************</p>
    <div class="col-md-12">
        <div class="row">
            <table id="example" class="display nowrap" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>Item 1</th>
                        <th>Item 2</th>
                        <th>Item 3</th>
                        <th>Item 4</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-child-value="hidden 1">
                        <td class="details-control"></td>
                        <td>data 1a</td>
                        <td>data 1b</td>
                        <td>data 1c</td>
                        <td>data 1d</td>
                    </tr>
                    <tr data-child-value="hidden 2">
                        <td class="details-control"></td>
                        <td>data 2a</td>
                        <td>data 2b</td>
                        <td>data 2c</td>
                        <td>data 2d</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    ------------


}
