@(spPage: List[StudyPlans], fPage: List[FieldsOfStudy], sbjPage: List[Subjects],semPage: List[Semesters],cPage: List[Courses],tPage: List[Teachers])
@import helper._
@import scala.Predef; var x = 0;var y=0;
@localStylesheets = {
    <link href='@routes.Assets.at("stylesheets/tables.css")' rel="stylesheet" type="text/css">
    <style type="text/css"><!--

    div {

        word-wrap: break-word; /* All browsers since IE 5.5+ */
        overflow-wrap: break-word;
    }


    --></style>
}

@localScripts = {
        <!-- DataTables JavaScript -->
    <script src='@routes.Assets.at("DataTables/DataTables-1.10.13/js/jquery.dataTables.js")'></script>
    <script src='@routes.Assets.at("DataTables/DataTables-1.10.13/js/dataTables.bootstrap.min.js")'></script>
        <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
            $(document).ready(function () {
                $('#dataTables-example').DataTable({
                    responsive: true
                });
            });
    </script>
}

@main(scripts = localScripts, stylesheets = localStylesheets) {
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"></h1>
        </div>
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-3">

                </div>
                <div class="col-md-3">
                @form(routes.PDFController.pdfTableDCPS()) {
                    <input type="submit" value="Generovat PDF" class="btn btn-success">
                    }
                </div>
                <div class="col-md-3">
                @form(routes.DOCController.docTableDCPS()) {
                    <input type="submit" value="Generovat DOC" class="btn btn-success">
                    }
                </div>
            </div>
        </div>
            <!-- /.col-lg-12 -->
    </div>
        <!-- /.row -->
    <div class="row">
        @if(fPage.size() == 0) {
            <p>Žádné údaje k zobrazení</p>
        }
        @for(f <- fPage) {
            <div class="col-lg-12">
                <div class="panel panel-info">

                    @if(spPage.size() == 0) {
                        <p>Žádné údaje k zobrazení</p>
                    }
                    @(x = 0)
                    @(y = 0)
                    @for(sp <- spPage) {
                        @if(f.getId == sp.getFieldsOfStudy.getId) {
                            @if(y == 0) {
                                <div class="panel-heading">
                                    <p align="center">Studijní plán pro studenty přijaté ke studiu v @sp.getSemesters.getSemesterValue</p>
                                    <p align="center">@f.getFieldOfStudyV (@f.getFieldOfStudy)</p>
                                    @(y=y+1)
                                </div>
                            }
                            <div class="col-lg-12">
                                <div class="panel panel-default">
                                    @if(x != sp.getSemesterValue) {
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-md-1">
                                                    @sp.getSemesterValue. semestr
                                                </div>
                                                <div class="col-md-2">
                                                @sp.getStudyGroups.getStudyGroupV
                                                </div>
                                                <div class="col-md-8">
                                                @sp.getStudyGroups.getStudyGroupsNote
                                                </div>

                                                @(x = sp.getSemesterValue)
                                            </div>

                                            <div class="row">
                                                <div class="col-md-2">
                                                    Kód
                                                </div>
                                                <div class="col-md-2">
                                                    Název
                                                </div>
                                                <div class="col-md-1">
                                                    Př.
                                                </div>
                                                <div class="col-md-1">
                                                    Cv.
                                                </div>
                                                <div class="col-md-1">
                                                    Kr.
                                                </div>
                                                <div class="col-md-1">
                                                    Z
                                                </div>
                                                <div class="col-md-1">
                                                    Zk
                                                </div>
                                                <div class="col-md-1">
                                                    KZ
                                                </div>
                                                <div class="col-md-1">
                                                    Učí
                                                </div>
                                            </div>
                                        </div>
                                    }
                                        <!-- /.panel-heading -->
                                    @for(member <- cPage) {
                                        @if(sp.getSubjects.getId == member.getSubjects.getId) {

                                            <div class="col-md-2">
                                            @if(member.getSubjects.getIdent == null) {
                                                <em>-</em>
                                            } else {
                                                @member.getSubjects.getIdent
                                            }
                                            </div>
                                            <div class="col-md-2">
                                            @if(member.getSubjects.getTitleC == null) {
                                                <em>-</em>
                                            } else {
                                                @member.getSubjects.getTitleC
                                            }
                                            </div>
                                            <div class="col-md-1">
                                            @if(member.getSubjects.getHoursP == null) {
                                                <em>-</em>
                                            } else {
                                                @member.getSubjects.getHoursP
                                            }
                                            </div>
                                            <div class="col-md-1">
                                            @if(member.getSubjects.getHoursC == null) {
                                                <em>-</em>
                                            } else {
                                                @member.getSubjects.getHoursC
                                            }
                                            </div>
                                            <div class="col-md-1">
                                            @if(member.getSubjects.getCredits == null) {
                                                <em>-</em>
                                            } else {
                                                @member.getSubjects.getCredits
                                            }
                                            </div>
                                            <div class="col-md-1">
                                            @if(member.getSubjects.isCredit == true) {
                                                <input type="checkbox" checked="checked" onclick="return false;">
                                            } else {
                                                <input type="checkbox"  onclick="return false;">
                                                }
                                            </div>
                                            <div class="col-md-1">
                                            @if(member.getSubjects.isExam == true) {
                                                <input type="checkbox" checked="checked" onclick="return false;">
                                            } else {
                                                <input type="checkbox"  onclick="return false;">
                                                }
                                            </div>
                                            <div class="col-md-1">
                                            @if(member.getSubjects.isClassifiedCredit == true) {
                                                <input type="checkbox" checked="checked" onclick="return false;">
                                            } else {
                                                <input type="checkbox"  onclick="return false;">
                                                }
                                            </div>
                                            <div class="col-md-1">
                                                <table>
                                                @for(t <- tPage) {
                                                    @if(t.getCourses.getId == member.getId) {
                                                            <tr>
                                                                <td class="center">
                                                                    @t.getEmployees.getSurname
                                                                </td>
                                                            </tr>
                                                    }
                                                }
                                                    </table>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        }

    </div>

}