@(currentPage: List[Subjects])
@import helper._
@localStylesheets = {
    <link href='@routes.Assets.at("stylesheets/tables.css")' rel="stylesheet" type="text/css">
}

@localScripts = {
        <!-- DataTables JavaScript -->
    <script src='@routes.Assets.at("DataTables/DataTables-1.10.13/js/jquery.dataTables.js")'></script>
    <script src='@routes.Assets.at("DataTables/DataTables-1.10.13/js/dataTables.bootstrap.min.js")'></script>

        <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
            $(document).ready(function () {
                $('#dataTables-example').DataTable({
                    responsive: true
                });
            });
    </script>
}

@main(scripts = localScripts, stylesheets = localStylesheets) {
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Předměty</h1>
        </div>
            <!-- /.col-lg-12 -->
    </div>
        <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Výpis předmětů
                    <hr>
                    <div class="row">
                        <div class="col-md-3">
                        @form(routes.SubjectController.index()) {
                            <input type="submit" value="+ Přidat předmět" class="btn btn-success">
                            }
                        </div>
                        <div class="col-md-3">
                        @form(routes.PDFController.pdfTableSubjects()) {
                            <input type="submit" value="Generovat PDF" class="btn btn-success">
                            }
                        </div>
                        <div class="col-md-3">
                        @form(routes.DOCController.docTableSubjects()) {
                            <input type="submit" value="Generovat DOC" class="btn btn-success">
                            }
                        </div>
                    </div>
                </div>
                    <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>Ident</th>
                                    <th>Ident_old</th>
                                    <th>Název česky</th>
                                    <th>Název anglicky</th>
                                    <th>Hodin přednášek</th>
                                    <th>Hodin cvičení</th>
                                    <th>Hodin za semestr</th>
                                    <th>Kreditů</th>
                                    <th>Zápočet</th>
                                    <th>Zkouška</th>
                                    <th>Klasifikovaný zápočet</th>
                                    <th>Oddělení</th>
                                    <th>Prezenční forma</th>
                                    <th>Kombinovaná forma</th>
                                </tr>
                            </thead>
                            <tbody>

                            @for(member <- currentPage) {
                                <tr>
                                    <td class="center">
                                    @if(member.getIdent == null) {
                                        <em>-</em>
                                    } else {
                                        @member.getIdent
                                    }
                                    </td>
                                    <td class="center">
                                    @if(member.getIdentOld == null) {
                                        <em>-</em>
                                    } else {
                                        @member.getIdentOld
                                    }
                                    </td>
                                    <td class="center">
                                    @if(member.getTitleC == null) {
                                        <em>-</em>
                                    } else {
                                        @member.getTitleC
                                    }
                                    </td>
                                    <td class="center">
                                    @if(member.getTitleA == null) {
                                        <em>-</em>
                                    } else {
                                        @member.getTitleA
                                    }
                                    </td>
                                    <td class="center">
                                    @if(member.getHoursP == 0) {
                                        <em>-</em>
                                    } else {
                                        @member.getHoursP
                                    }
                                    </td>
                                    <td class="center">
                                    @if(member.getHoursC == 0) {
                                        <em>-</em>
                                    } else {
                                        @member.getHoursC
                                    }
                                    </td>
                                    <td class="center">
                                    @if(member.getHoursSemester == 0) {
                                        <em>-</em>
                                    } else {
                                        @member.getHoursSemester
                                    }
                                    </td>
                                    <td class="center">
                                    @if(member.getCredits == 0) {
                                        <em>-</em>
                                    } else {
                                        @member.getCredits
                                    }
                                    </td>
                                    <td class="center">
                                    @if(member.isCredit == true) {
                                        <input type="checkbox" checked="checked" onclick="return false;">
                                    } else {
                                        <input type="checkbox" onclick="return false;">
                                        }
                                    </td>
                                    <td class="center">
                                    @if(member.isExam == true) {
                                        <input type="checkbox" checked="checked" onclick="return false;">
                                    } else {
                                        <input type="checkbox" onclick="return false;">
                                        }
                                    </td>
                                    <td class="center">
                                    @if(member.isClassifiedCredit == true) {
                                        <input type="checkbox" checked="checked" onclick="return false;">
                                    } else {
                                        <input type="checkbox" onclick="return false;">
                                        }
                                    </td>
                                    <td class="center">
                                    @if(member.getDepartment == null) {
                                        <em>-</em>
                                    } else {
                                        @member.getDepartment
                                    }
                                    </td>
                                    <td class="center">
                                    @if(member.isFormPresentation == true) {
                                        <input type="checkbox" checked="checked" onclick="return false;">
                                    } else {
                                        <input type="checkbox" onclick="return false;">
                                        }
                                    </td>
                                    <td class="center">
                                    @if(member.isFormCombined == true) {
                                        <input type="checkbox" checked="checked" onclick="return false;">
                                    } else {
                                        <input type="checkbox" onclick="return false;">
                                        }

                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                        <!-- /.table-responsive -->
                </div>
                    <!-- /.panel-body -->
            </div>
                <!-- /.panel -->
        </div>
            <!-- /.col-lg-12 -->
    </div>

}