@import java.util
@(idE: Long, idS: Long, ePage: List[Employees], semPage: List[Semesters], statementPage: List[Statement], statComPartPage: List[StatementCommitteeParticipants], statFinalWPartPage: List[StatementFinalWorksParticipants],
        statProjPartPage: List[StatementProjectsParticipants], statPubPartPage: List[StatementPublicationsParticipants], statTeachPart: List[StatementTeachersParticipants], statVisitsPart: List[StatementVisitsParticipants])
@import helper._
@import scala.Predef; var x = 0; var y = 0.0;
@localStylesheets = {
    <link href='@routes.Assets.at("stylesheets/tables.css")' rel="stylesheet" type="text/css">
}

@localScripts = {
        <!-- DataTables JavaScript -->
    <script src='@routes.Assets.at("DataTables/DataTables-1.10.13/js/jquery.dataTables.js")'></script>
    <script src='@routes.Assets.at("DataTables/DataTables-1.10.13/js/dataTables.bootstrap.min.js")'></script>
    <script src='@routes.Assets.at("javascripts/dynamicFields.js")'></script>
        <!-- Page-Level Demo Scripts - Tables - Use for reference -->
}

@main(scripts = localScripts, stylesheets = localStylesheets) {
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Výkaz</h1>
        </div>
            <!-- /.col-lg-12 -->
    </div>
        <!-- /.row -->
    <div class="row">
        @if(semPage.size() == 0) {
            <p>Žádné údaje k zobrazení</p>
        }
        @for(sem <- semPage) {
            <h2>@sem.getSemesterVD</h2>
            <hr>
            @if(statementPage.size() == 0) {
                <p>Žádné údaje k zobrazení</p>
            }
            @for(stat <- statementPage) {

                <fieldset>
                    <b>@stat.getDate</b>
                    <hr>
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                                <!-- /.panel-heading -->
                            <div class="panel-heading">
                                    Předměty
                            </div>
                            @if(statTeachPart.size() == 0) {
                                <p>Ve sledovaném období neproběhla účast na výuce předmětů</p>
                            } else {

                                <div class="panel-body">
                                    <div class="dataTable_wrapper">

                                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                            <thead>
                                                <tr>
                                                    <th>Kurz</th>
                                                    <th>Ident</th>
                                                    <th>Podíl</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            @for(member <- statTeachPart) {
                                                @if(stat.getId == member.getStatement.getId) {
                                                    <tr>
                                                        <td class="center">
                                                        @if(member.getTeachers.getCourses.getCourse == null) {
                                                            <em>-</em>
                                                        } else {
                                                            @member.getTeachers.getCourses.getCourse
                                                        }
                                                        </td>

                                                        <td class="center">
                                                        @if(member.getTeachers.getCourses.getSubjects.getIdent == null) {
                                                            <em>-</em>
                                                        } else {
                                                            @member.getTeachers.getCourses.getSubjects.getIdent
                                                        }
                                                        </td>

                                                        <td class="center">
                                                        @if(member.getTeachers.getScale == null) {
                                                            <em>-</em>
                                                        } else {
                                                            @member.getTeachers.getScale
                                                        }
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="panel panel-green">
                        <div class="panel-heading">
                                Publikace
                        </div>
                        @if(statPubPartPage.size() == 0) {
                            <p>Ve sledovaném období neproběhla účast na publikacích</p>
                        } else {
                            <div class="panel-body">
                                <div class="dataTable_wrapper">
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                        <thead>
                                            <tr>
                                                <th>Název</th>
                                                <th>Podíl</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        @for(member <- statPubPartPage) {
                                            @if(stat.getId == member.getStatement.getId) {
                                                <tr>
                                                    <td class="center">
                                                    @if(member.getPublicationsParticipants.getPublications.getCitation == null) {
                                                        <em>-</em>
                                                    } else {
                                                        @member.getPublicationsParticipants.getPublications.getCitation
                                                    }
                                                    </td>
                                                    <td class="center">
                                                    @if(member.getPublicationsParticipants.getShare == null) {
                                                        <em>-</em>
                                                    } else {
                                                        @member.getPublicationsParticipants.getShare
                                                    }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                                Projekty
                        </div>
                        @if(statProjPartPage.size() == 0) {
                            <p>Ve sledovaném období neproběhla účast na projektech</p>
                        } else {
                            <div class="panel-body">
                                <div class="dataTable_wrapper">

                                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                        <thead>
                                            <tr>
                                                <th>Název projektu</th>
                                                <th>Role v projektu</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        @for(member <- statProjPartPage) {
                                            @if(stat.getId == member.getStatement.getId) {
                                                <tr>
                                                    <td class="center">
                                                    @if(member.getProjectsParticipants.getProjects.getProjectName == null) {
                                                        <em>-</em>
                                                    } else {
                                                        @member.getProjectsParticipants.getProjects.getProjectName
                                                    }
                                                    </td>

                                                    <td class="center">
                                                    @if(member.getProjectsParticipants.getProjectRole == null) {
                                                        <em>-</em>
                                                    } else {
                                                        @member.getProjectsParticipants.getProjectRole
                                                    }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="panel panel-red">
                        <div class="panel-heading">
                                Účast v komisích Státních závěrečných zkoušek
                        </div>
                        @if(statComPartPage.size() == 0) {
                            <p>Ve sledovaném období neproběhla účast v komisích</p>
                        } else {
                            <div class="panel-body">
                                <div class="dataTable_wrapper">
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                        <thead>
                                            <tr>
                                                <th>Datum konání komise</th>
                                                <th>Role v komisi</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        @for(member <- statComPartPage) {
                                            @if(stat.getId == member.getStatement.getId) {
                                                <tr>
                                                    <td class="center">
                                                    @if(member.getCommitteeParticipants.getCommittee.getDateOfCommittee == null) {
                                                        <em>-</em>
                                                    } else {
                                                        @member.getCommitteeParticipants.getCommittee.getDateOfCommittee
                                                    }
                                                    </td>

                                                    <td class="center">
                                                    @if(member.getCommitteeParticipants.getRoleInCommittee == null) {
                                                        <em>-</em>
                                                    } else {
                                                        @member.getCommitteeParticipants.getRoleInCommittee
                                                    }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                                Účast na závěrečných pracích studentů
                        </div>
                        @if(statFinalWPartPage.size() == 0) {
                            <p>Ve sledovaném období neproběhla účast na závěrečných pracích studentů</p>
                        } else {
                            <div class="panel-body">
                                <div class="dataTable_wrapper">

                                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                        <thead>
                                            <tr>
                                                <th>Název práce</th>
                                                <th>Role</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        @for(member <- statFinalWPartPage) {
                                            @if(stat.getId == member.getStatement.getId) {
                                                <tr>
                                                    <td class="center">
                                                    @if(member.getFinalWorksParticipants.getFinalWorks.getFinalWorksName == null) {
                                                        <em>-</em>
                                                    } else {
                                                        @member.getFinalWorksParticipants.getFinalWorks.getFinalWorksName
                                                    }
                                                    </td>

                                                    <td class="center">
                                                    @if(member.getFinalWorksParticipants.getTeachersRole == null) {
                                                        <em>-</em>
                                                    } else {
                                                        @member.getFinalWorksParticipants.getTeachersRole
                                                    }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                                Účast na výjezdech
                        </div>
                        @if(statVisitsPart.size() == 0) {
                            <p>Ve sledovaném období neproběhla účast na výjezdech</p>
                        } else {
                            <div class="panel-body">
                                <div class="dataTable_wrapper">

                                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                        <thead>
                                            <tr>
                                                <th>Důvod návštěvy</th>
                                                <th>Název události</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        @for(member <- statVisitsPart) {
                                            @if(stat.getId == member.getStatement.getId) {
                                                <tr>
                                                    <td class="center">
                                                    @if(member.getVisitsParticipants.getVisits.getPurposeOfVisit == null) {
                                                        <em>-</em>
                                                    } else {
                                                        @member.getVisitsParticipants.getVisits.getPurposeOfVisit
                                                    }
                                                    </td>

                                                    <td class="center">
                                                    @if(member.getVisitsParticipants.getVisits.getEvent == null) {
                                                        <em>-</em>
                                                    } else {
                                                        @member.getVisitsParticipants.getVisits.getEvent
                                                    }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                    </div>
                </fieldset>
                <div class="panel-body">
                    @form(routes.StatementController.sendRepairedStatement(idE, idS)) {
                        <input type="submit" value="Odeslat ke schválení" class="btn btn-info">
                    }
                    @form(routes.StatementController.sendToRepair(idE, idS)) {
                        <input type="submit" value="Uložit pro opravu" class="btn btn-info">
                        }
                </div>

            }
        }
    </div>
}