@(currentPage: List[Classroom])
@import helper._
@localStylesheets = {
    <link href='@routes.Assets.at("stylesheets/tables.css")' rel="stylesheet" type="text/css">
}

@localScripts = {
        <!-- DataTables JavaScript -->
    <script src='@routes.Assets.at("DataTables/DataTables-1.10.13/js/jquery.dataTables.js")'></script>
    <script src='@routes.Assets.at("DataTables/DataTables-1.10.13/js/dataTables.bootstrap.min.js")'></script>

        <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
            $(document).ready(function () {
                $('#dataTables-example').DataTable({
                    responsive: true
                });
            });
    </script>
}

@main(scripts = localScripts, stylesheets = localStylesheets) {
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dny</h1>
        </div>
            <!-- /.col-lg-12 -->
    </div>
        <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Přehled místností
                </div>
                    <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>Místnost</th>
                                    <th>Kapacita</th>
                                    <th>Upravit</th>
                                    <th>Smazat</th>
                                </tr>
                            </thead>
                            <tbody>

                            @for(member <- currentPage) {
                                <tr>
                                    <td class="center">
                                    @if(member.getClassroomName == 0) {
                                        <em>-</em>
                                    } else {
                                        @member.getClassroomName
                                    }
                                    </td>
                                    <td class="center">
                                    @if(member.getCapacity == null) {
                                        <em>-</em>
                                    } else {
                                        @member.getCapacity
                                    }
                                    </td>
                                    <td class="center">
                                    @form(routes.ClassroomController.edit(member.getId())) {
                                        <input type="submit" value="Upravit" class="btn btn-info">
                                        }
                                    </td>
                                    <td class="center">
                                    @form(routes.ClassroomController.delete(member.getId())) {
                                        <input type="submit" value="Smazat" class="btn btn-danger">
                                        }
                                    </td>

                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                        <!-- /.table-responsive -->
                </div>
                    <!-- /.panel-body -->
            </div>
                <!-- /.panel -->
        </div>
            <!-- /.col-lg-12 -->
    </div>

}